/*comentarios en css*/
/*
#ffffff blanco
#ff7f07 naranja
#302e2e gris
*/

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=DM+Serif+Display:ital@0;1&display=swap');


* {
    margin: 0;
    padding: 0;
}

/*header-------------------------------------------------*/
header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0%;
    background-color: #535353;
    z-index: 100;
}

.logo {
    width: 95px;
    margin: 8px;
}

nav {
    width: 35%;
}

.lista-nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    list-style: none;
    font-family: bangers;
    font-size: 1.1rem;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 5px 5px #050505
}

nav a {
    color: #ff7f07;
    text-decoration: none;
    font-size: 1.2rem;
}

/*main general----------------------------------------------*/
.titulo {
    color: #ff7f07;
    text-align: center;
    font-family: bangers;
    font-size: 3.5rem;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 5px 5px #000000;
}

.bajada {
    color: #ffffff;
    text-align: center;
    font-family: bebas neue;
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 5px 5px #000000;
}








/*MAIN inicio-----------------------------------------------------------------------------------------*/
.presentacion-inicio {
    background-image: url(../img/fondo.png);
    height: auto;
    background-position: center;
    background-size: cover;

    ;
}

.img-carousel {
    max-height: 420px;
    object-fit: contain;
}
.carousel-indicators [data-bs-target]{
    background-color: #ff7f07;
}




/*MAIN productos---------------------------------------------------------------------------------------*/
.presentacion-productos {
    background-image: url(../img/fondo.png);
    height: auto;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sub-titulos {
    text-align: left;
    font-family: bangers;
    color: #ff7f07;
    font-size: 1, 5rem;
    font-style: normal;
    font-weight: 400;
    text-shadow: 2px 5px 5px #000000;
}

h2 {
    color: #ff7f07;
    text-align: justify;
    font-family: DM Serif Display;
    font-size: 0.95rem;
    text-shadow: 2px 5px 5px #050505;
    list-style: none;

}

p {
    color: #ffffff;
    text-align: left;
    font-family: DM Serif Display;
    font-size: 0.80rem;
    text-shadow: 2px 5px 5px #000000;
}

/*grid----------------------------------------------------------------------------------*/

.contenedor-grid {
    display: grid;
    /*dibujar la grilla*/
    grid-template-areas:
        ". titulo-grid titulo-grid ."
        "img1 caract1 img2 caract2"
        "img3 caract3 img4 caract4"
        "img5 caract5 img6 caract6";
    /*cantidad y el ancho de cada columna*/
    grid-template-columns:
        "25% 25% 25% 25%";
    /*cantidad y el alta de cada fila*/
    grid-template-rows:
        "100px 100px 100px 100px";

    justify-content: center;
    justify-items: center;
    align-items: center;
    column-gap: 5px;
    row-gap: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.contenedor-grid img {
    width: 100%;
    height: 100%;
}

.titulo-grid {
    grid-area: titulo-grid;
    text-align: center;
    color: #ff7f07;
    font-family: bangers;
    font-size: 3.5rem;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 5px 5px #000000;

}

.img1 {
    grid-area: img1;
    border: 2px solid white;
    border-radius: 5px;
}

.img2 {
    grid-area: img2;
    border: 2px solid white;
    border-radius: 5px;
}

.img3 {
    grid-area: img3;
    border: 2px solid white;
    border-radius: 5px;
}

.img4 {
    grid-area: img4;
    border: 2px solid white;
    border-radius: 5px;
}

.img5 {
    grid-area: img5;
    border: 2px solid white;
    border-radius: 5px;
}

.img6 {
    grid-area: img6;
    border: 2px solid white;
    border-radius: 5px;
}

.caract1 {
    grid-area: caract1;
}

.caract2 {
    grid-area: caract2;
}

.caract3 {
    grid-area: caract3;
}

.caract4 {
    grid-area: caract4;
}

.caract5 {
    grid-area: caract5;
}

.caract6 {
    grid-area: caract6;
}






/*MAIN sucursales-----------------------------------------------------------------------------------*/
.presentacion-sucursales {
    background-image: url(../img/fondo.png);
    height: auto;
    background-position: center;
    background-size: cover;
}

.bajada-sucursales {
    color: #ffffff;
    text-align: left;
    font-family: bebas neue;
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 5px 5px #000000;
}





/*MAIN contacto-------------------------------------------------------------------------------------*/
.presentacion-contacto {
    background-image: url(../img/fondo.png);
    height: auto;
    background-position: center;
    background-size: cover;
}

.formulario {
    color: #ffffff;
}





/*footer-------------------------------------------------------------------------------------------*/
footer {
    background-color: #535353;
}

.redes {
    color: #ff7f07;
    text-align: center;
    font-family: bangers;
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
}

.wsap {
    width: 50px;
    position: fixed;
    bottom: 60px;
    right: 60px;
}

.insta {
    width: 40px;
}

.face {
    width: 50px;
}






/*Media queries-------------------------------------------------------------------------*/
@media (max-width: 480px) {

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav {
        width: 90%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .contenedor-grid {
        display: grid;

        grid-template-areas:
            "titulo-grid"
            "img1"
            "caract1"
            "img2"
            "caract2"
            "img3"
            "caract3"
            "img4"
            "caract4"
            "img5"
            "caract5"
            "img6"
            "caract6";
        
        grid-template-columns: 90%;
        justify-content: center;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .contenedor-grid img {
        width: 100%;
        height: auto;
    }

    .titulo-grid {
        grid-area: titulo-grid;
        justify-content: start;
        justify-items: start;
    }

    .img1 {
        grid-area: img1;
    }

    .caract1 {
        grid-area: caract1;
    }

    .img2 {
        grid-area: img2;
    }

    .caract2 {
        grid-area: caract2;
    }

    .img3 {
        grid-area: img3;
    }

    .caract3 {
        grid-area: caract3;
    }

    .img4 {
        grid-area: img4;
    }

    .caract4 {
        grid-area: caract4;
    }

    .img5 {
        grid-area: img5;
    }

    .caract5 {
        grid-area: caract5;
    }

    .img6 {
        grid-area: img6;
    }

    .caract6 {
        grid-area: caract6;
    }

}