@use "../partials/variables" as*;



main {
    .presentacion-sucursales {
        @include presentacion ($negro, auto, center, cover);

        .titulo {
            color: $verde;
            @include font(bangers, 3.5rem, 400, normal);
            @include text (center, 2px 5px 5px $negro);
        }

        .bajada-sucursales {
            color: $blanco;
            @include font(Bebas neue, 2rem, 400, normal);
            @include text(left, 2px 5px 5px $negro);
        }

        .info {
            color: $blanco;
        }


        .sucursal {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 40px;
            padding: 40px;
        }

        .info-sucursal {
            width: 40%;
        }

        .mapa {
            width: 60%;

            iframe {
                width: 100%;
                border-radius: 10px;
            }
        }

        .dato {
            display: flex;
            gap: 10px;
            margin-bottom: 10px;
        }
    }
}
